<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SNHTickets.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SNHTickets.Properties.Settings>
            <setting name="Stand_Ticket_Limit" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Sit_Ticket_Limit" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="VIP_Ticket_D1_Limit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VIP_Ticket_Limit" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Photo_Limit" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Max_Limit" serializeAs="String">
                <value>100</value>
            </setting>
        </SNHTickets.Properties.Settings>
    </userSettings>
</configuration>